opencv_python
numpy
requests
sounddevice
PyAutoGUI
mss
discord.py
scipy
pycaw
pynput
comtypes
pywin32
discord
pycryptodomex
win32gui
dhooks
shutil
sqlite3
pywintypes
json
base64
requests
platform
zipfile
smtplib
http.cookiejar
urllib
ctypes
cryptography
shutil
pycryptodomex
pysqlite3
pypiwin32
requests
opencv_python
numpy
requests
sounddevice
PyAutoGUI
mss
discord.py
scipy
pycaw
pynput
comtypes
pywin32
discord
pycryptodomex
win32gui
